<!DOCTYPE html>
<html>
    <head>
        <title>Web Devolopment Technologies</title>
        <style type="text/css">
         h3 { color: red;}
         #new {color: green}
         #new1 {color:magenta}
         .class {color:orange}
         .blclass {color:blue}
         .brown {color:brown}</style>
    </head> 
    <body>
        <h1 id="new">Web Development Technologies</h1>
        
        <h3>Client Side UI Development</h3>
        <ul>
            <div class="class">
            <li>HTML</li>
            <li>CSS</li>
            <li>Java Script</li>
            <li>React</li>
            <li>Angular</li>
            <li>Bootstrap</li></div>
        </ul>
        
        <h3>Server Side Development</h3>
        
        <ul>
            <div class="class">
            <li>Django</li>
            <li>Node.js</li>
            <li>Asp.net</li>
            <li>PHP</li>
            <li>Java Spring Framework</li>
            </div>
            
        </ul>
        
        <h3>Database</h3>
        <ul>
            <div class="blclass">
            <li>SQ Lite</li>
            <li>MySql</li>
            <li>Oracle</li>
            <li>SQL Server</li>
            <li>MongoDB</li></div>
        </ul>
        
        <h3>IDE/Editor</h3>
        <ul>
            <div class="class">
            <li id="new1">Visual Studio Code</li>
            <li>Eclipse</li>
            <li>IntelliJ IDEA</li>
            <li>Eclipse Theia</li></div>
        </ul>
        <div class="brown"><p>Designed by: Jeeva Gowtham S</p></div>
    </body>
    </html>